body {
  background: #DDD;
  color: #222;
  font-size: 2rem;
}

.dark-mode {
  filter: invert(1) hue-rotate(180deg)
}

.title {
  text-align: center;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}